<a href="https://colab.research.google.com/github/Seanisgoing/Sean_Su_Final_Project-/blob/main/Sean_Su_final_pro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
import pandas as pd
import numpy as np
import sqlite3
import plotly.express as px

In [2]:
df = pd.read_csv("https://github.com/Seanisgoing/Sean_Su_Final_Project-/raw/main/tv_shows.csv")

In [3]:
num_rols = df.shape[0]
num_cols = df.shape[1]
print(num_rols, num_cols)

5368 12

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5368 non-null   int64
 1   ID               5368 non-null   int64
 2   Title            5368 non-null   object
 3   Year             5368 non-null   int64
 4   Age              3241 non-null   object
 5   IMDb             4406 non-null   object
 6   Rotten Tomatoes  5368 non-null   object
 7   Netflix          5368 non-null   int64
 8   Hulu             5368 non-null   int64
 9   Prime Video      5368 non-null   int64
 10  Disney+          5368 non-null   int64
 11  Type             5368 non-null   int64
dtypes: int64(8), object(4)
memory usage: 503.4+ KB

In [61]:
dfclean = df[(df["Age"].notna()) & (df["IMDb"].notna())]

In [32]:
df.head(50)

    Unnamed: 0  ID  ... Disney+  Type
0            0   1  ...       0     1
1            1   2  ...       0     1
2            2   3  ...       0     1
3            3   4  ...       0     1
4            4   5  ...       0     1
5            5   6  ...       0     1
6            6   7  ...       0     1
7            7   8  ...       0     1
8            8   9  ...       0     1
9            9  10  ...       0     1
10          10  11  ...       0     1
11          11  12  ...       0     1
12          12  13  ...       0     1
13          13  14  ...       0     1
14          14  15  ...       0     1
15          15  16  ...       0     1
16          16  17  ...       0     1
17          17  18  ...       0     1
18          18  19  ...       0     1
19          19  20  ...       0     1
20          20  21  ...       0     1
21          21  22  ...       0     1
22          22  23  ...       0     1
23          23  24  ...       0     1
24          24  25  ...       0     1
25          25  26  ...       0     1
26          26  27  ...       0     1
27          27  28  ...       0     1
28          28  29  ...       0     1
29          29  30  ...       0     1
30          30  31  ...       0     1
31          31  32  ...       0     1
32          32  33  ...       0     1
33          33  34  ...       0     1
34          34  35  ...       0     1
35          35  36  ...       0     1
36          36  37  ...       0     1
37          37  38  ...       0     1
38          38  39  ...       0     1
39          39  40  ...       0     1
40          40  41  ...       0     1
41          41  42  ...       0     1
42          42  43  ...       0     1
43          43  44  ...       0     1
44          44  45  ...       0     1
45          45  46  ...       0     1
46          46  47  ...       0     1
47          47  48  ...       0     1
48          48  49  ...       0     1
49          49  50  ...       0     1

[50 rows x 12 columns]

In [63]:
top20_shows_imdb = dfclean.sort_values(by= "IMDb", ascending= False)
top20_shows_imdb.head(20)

      Unnamed: 0    ID  ... Disney+  Type
5077        5077  5401  ...       1     1
3802        3802  4054  ...       0     1
3611        3611  3818  ...       0     1
0              0     1  ...       0     1
2009        2009  2034  ...       1     1
80            80    81  ...       0     1
5              5     6  ...       0     1
3503        3503  3668  ...       0     1
1950        1950  1960  ...       0     1
5106        5106  5435  ...       1     1
36            36    37  ...       0     1
25            25    26  ...       0     1
201          201   202  ...       0     1
1001        1001  1004  ...       0     1
86            86    87  ...       0     1
1981        1981  1999  ...       0     1
5079        5079  5403  ...       1     1
5244        5244  5588  ...       1     1
66            66    67  ...       0     1
2              2     3  ...       0     1

[20 rows x 12 columns]

In [64]:
top20_shows_rt = dfclean.sort_values(by= "Rotten Tomatoes", ascending= False)
top20_shows_rt.head(20)

      Unnamed: 0    ID                       Title  ...  Prime Video Disney+ Type
1              1     2             Stranger Things  ...            0       0    1
2              2     3             Attack on Titan  ...            0       0    1
5057        5057  5376                        Loki  ...            0       1    1
3              3     4            Better Call Saul  ...            0       0    1
5058        5058  5377             The Mandalorian  ...            0       1    1
4              4     5                        Dark  ...            0       0    1
5              5     6  Avatar: The Last Airbender  ...            1       0    1
6              6     7              Peaky Blinders  ...            0       0    1
7              7     8            The Walking Dead  ...            0       0    1
1951        1951  1962                    Seinfeld  ...            0       0    1
3446        3446  3581                    The Boys  ...            1       0    1
1952        1952  1963                     Vikings  ...            1       0    1
1953        1953  1964                       Fargo  ...            0       0    1
3447        3447  3583                      Dexter  ...            1       0    1
3448        3448  3584                       House  ...            1       0    1
1954        1954  1965          Brooklyn Nine-Nine  ...            0       0    1
9              9    10          The Queen's Gambit  ...            0       0    1
8              8     9                Black Mirror  ...            0       0    1
1955        1955  1966                        Lost  ...            0       0    1
1956        1956  1967        Parks and Recreation  ...            0       0    1

[20 rows x 12 columns]

In [82]:
df_by_age = dfclean.groupby(by= ["Age"], as_index= False).count()
df_by_age = df_by_age.rename(columns= {"Unnamed: 0": "Number of shows by age"})
df_by_age

   Age  Number of shows by age   ID  Title  ...  Hulu  Prime Video  Disney+  Type
0  13+                       9    9      9  ...     9            9        9     9
1  16+                     987  987    987  ...   987          987      987   987
2  18+                     852  852    852  ...   852          852      852   852
3   7+                     824  824    824  ...   824          824      824   824
4  all                     535  535    535  ...   535          535      535   535

[5 rows x 12 columns]

In [65]:
df_nfshows = len(dfclean[dfclean["Netflix"] == 1])
df_hlshows = len(dfclean[dfclean["Hulu"] == 1])
df_prime = len(dfclean[dfclean["Prime Video"] == 1])
df_disney = len(dfclean[dfclean["Disney+"]==1])
print(f"Netflix shows: {df_nfshows}")
print(f"Hulu shows: {df_hlshows}")
print(f"Prime shows: {df_prime}")
print(f"Disney+ shows: {df_disney}")

Netflix shows: 1329
Hulu shows: 1212
Prime shows: 750
Disney+ shows: 257